---
// Redirect /blog/[slug] to /[slug]
import { fetchPosts } from '~/utils/blog';

export const prerender = true;

export async function getStaticPaths() {
  const posts = await fetchPosts();
  
  return posts.map(post => ({
    params: { slug: post.slug },
    props: { slug: post.slug }
  }));
}

const { slug } = Astro.props;
const redirectUrl = `/${slug}`;
---

<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content={`0;url=${redirectUrl}`}>
  <link rel="canonical" href={redirectUrl}>
  <title>Przekierowanie...</title>
  <script is:inline define:vars={{ redirectUrl }}>
    window.location.replace(redirectUrl);
  </script>
</head>
<body>
  <p>Przekierowywanie do <a href={redirectUrl}>{redirectUrl}</a>...</p>
</body>
</html>
